Pods
# Xcode
*/tmp/*
build/*
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
apps/packaging/appid.txt
*Praditus.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcworkspacedata
*.pyc
*.xcworkspace
drafts


# For API
API/app/config/parameters.yml
/API/app/config/parameters.yml
API/build/
/API/build/
API/phpunit.xml
/API/phpunit.xml
API/var/*
/API/var/*
API/vendor/
API/web/bundles/
API/tests/
/API/vendor/*
/API/web/videos/*
API/web/videos/*
!API/var/SymfonyRequirements.php
